* {
  margin:0px;
  padding:0px;
}

body {
  font-family: 'Montserrat', sans-serif; 
  font-size: 15px;
  color:#fff;
  font-weight: 300;
  line-height: 1.83;
  -webkit-font-smoothing: antialiased;
  background: #23170B;
  text-align: left;
  font-weight: 500;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; 
}

h1 {
  font-size: 11px;
  text-transform: uppercase;
  color: #CDB27B;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}


.logo {
  width: 100px;
  padding-top: 70px;
  padding-bottom: 30px;
  margin:20px auto;
}


.input-field label, input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #CDB27B;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea, input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
border-color: #CDB27B;;
}

#submit {
  appearance:none;
  -webkit-appearance:none;
  background: transparent;
  border:2px solid #CDB27B;
  text-transform: uppercase;
  color: #CDB27B;
  text-align: center;
  display: block;
  width: 250px;
  max-width: 90%;
  margin:0 auto;
  margin-bottom: 50px;
  padding: 22px 0px;
  border-radius: 100px;
  -webkit-border-radius:100px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 11px;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  letter-spacing: 2px;
}

#submit:hover {
  color: #fff;
  background: #CDB27B;
}










